{{#if auth}}
<h2>{{message}}</h2>

<h1>Atividade node/handlebars</h1>
<h3>Bem vindo a essa pagina!!</h3>

<a href="/Users/add">Cadastrar Carro</a>
{{else}}

<h2>Faça o  seu Login!</h2>
<a href="/">Login</a>
{{/if}}